#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border-spacing: 0;
}

thead tr {
  background-color: gray;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid gray;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background-color: red;
}

